---
import '../styles/global.scss'
import '../styles/tailwind.css'
import Fonts from '../assets/fonts.astro'
import Header from '../components/sections/Header.astro'
import Footer from '../components/sections/Footer.astro'

const updated_at = new Date().toString().split(' (')[0]
const console_greeting = `
  __ _              __  __  __ 
 / _| |_   _ _   _ / _|/ _|/ _|
| |_| | | | | | | | |_| |_| |_ 
|  _| | |_| | |_| |  _|  _|  _|
|_| |_|\\__,_|\\__,_|_| |_| |_|
${updated_at}
https://github.com/Fluufff/Website
`.replace(/^\n/, '')
---

<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flüüfff</title>
    <Fonts />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global lang="scss">
  body {
    display: flex;
    flex-direction: column;
  }
</style>

<script define:vars={{ console_greeting }}>
  console.log(console_greeting)
  const magicword = [
    'ArrowUp',
    'ArrowUp',
    'ArrowDown',
    'ArrowDown',
    'ArrowLeft',
    'ArrowRight',
    'ArrowLeft',
    'ArrowRight',
    'b',
    'a'
  ]
  let pos = 0
  document.addEventListener('keydown', function raptorKeyDown(event) {
    if (event.key === magicword[pos]) {
      pos += 1
      if (pos === magicword.length) {
        location.href = 'https://pawsteroids.fluufff.org/'
        pos = 0
      }
    } else {
      pos = 0
    }
  })
</script>
